body{
    background-color: #eeeeee;
}
.heading
{
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    background-color: #FFA500;
    color: #ffffff;
}
.heading-mark{
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px;
;}